
table {
	border: 5px solid silver;
}

td:hover {
	background-color: #778899;
	color: #F5F5DC;
}

tr, th {
	background-color: #2F4F4F;
	color: #FFF8DC;
}

tr, td {
	background-color: #5F9EA0;
	color: #FFF8DC;
}

